<div class="row ">
  <div class="col-md-8 ">
    <% @books.each do |b| %>
      <div class="books">
        <p class="title">Title: <%= b.title %></p>
        <p class="author">Author: <%= b.author %></p>
        <p><%= link_to 'More', book_path(b), class: "btn btn-primary more-btn" %></p>
        </div>
    <% end %>
  </div>
</div>

