// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.books {
  background-color: lightblue;
  opacity: .8;
  color: #fff;
  margin-top: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #333;
  
  .title {
    font-weight: bold;
    border-left: 4px solid black;
    padding: 1em;
  }
  
  .author {
    font-style: italic;
    border-left: 4px solid black;
    padding: 1em;
  }
  
  .more-btn {
    margin: 1em;
  }
}


.reviews {
  background: #3c3;
  border-radius: 5px;
  color: #fff;
  padding: 1em;
  
  .reviews-title {
    display: inline-block;
  }
  
  .new-review-btn {
    margin-left: 2em;
  }
  
  .comments {
    border-bottom: 1px solid #fff;
    padding: .5em;
  }
}